* {
	transition-property: none;
	animation: none;
	font-size: 14px;
	font-family: Mononoki Nerd Font;
	border-radius: 0px;
	background-color: #282828;
	font-weight: bold;
	font-style: italic;
}

#workspaces button {
	padding: 10;
	border: 0px;
	border-left: 2px solid #282828;
	background: transparent;
	color: #d4be98;
}

#workspaces button.persistent {
	border-left: 2px solid #282828;
	color: #45403d;
}

#workspaces button.focused {
	border-left: 2px solid #d4be98;
	color: #d4be98;
}

#network {
	padding-right: 4px; 
	font-size: 16px;
	color: #d4be98;
}

#pulseaudio {
	padding-right: 1px;
	font-size: 16px;
}

#battery {
	padding-left: 2px;
	font-size: 18px;
	color: #d4be98;
}

#clock {
	margin: 10px 0px;
	color: #d4be98;
}

